/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .BackgroundI{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text-orange{
    color: #ff6000
  }
  .bg-orange{
    background-color: #ff6000;
  }
  .bg-black{
    background-color: black;
  }
  
  .card-header .navbar a{
    color: #ff6000;
  }
  a{
    color: #ff6000;
  }
  a:hover{
    text-decoration: none;
  }
  .head{
    background: url('background.png');
    background-size: contain;
  background-repeat: no-repeat;
    min-height: 400px;
  }
  img.bg{
    width: 100%;
    height: auto;
  
  }
  .container{
    width: 100%;
  }
  .small_image img{
    width:120px;
  }
  .phone img{
    width: 500px;
  }
  textarea {
    width: 80%;
  }
  .show-image{
  
    height: 300px;
    overflow-y: hidden;
  }
  .show-image img{
    width: 100%;
  }
  .info{
    width: 400px;
  }
  .info table tr td{
    padding-bottom: 20px;
  }
  .field img{
    width: 150px;
  }
  .nav-item a:hover{
    color: black;
    background-color: transparent;
  }

.small_size{
width: 200px;
height: 100px;
}
.container{
    margin-top: 70px;
}